<!----------Author: Prasita---------------------->
@{
    ViewData["Title"] = "Dogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h1>&nbsp;Dogs</h1>

<div>
    <p>
        &nbsp;&nbsp;Here are all our dogs that are currently up for adoption. If you're interested in adopting, please click "Details" and follow the prompt.
    </p>
</div>


<div class="container-1" style="border:none;">
    <div class="box-1" style="border:none;">

        <div class="row row-cols-1 row-cols-md-3 g-4" style="border:none;">



            @foreach (var item in ViewBag.dogs)
            {
                
                <div class="col">
                    <div class="card" style="border:none;height:480px;">

                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="border:none">
                            <div class="carousel-inner" style="border:none">

                                @{
                                    int index = 0;
                                    var images = item.ImageUrls.Split(",");
                                    foreach (var image in images)
                                    {
                                        if (index == 0)
                                        {
                                            <div class="carousel-item active" style="border:none">
                                                <img src="@image" class="pets d-block w-100" style="border-radius:6px;height:300px;" alt="@index">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item" style="border:none">
                                                <img src="@image" class="pets d-block w-100" style="border-radius: 6px;; height: 300px" alt="@index">
                                            </div>
                                        }
                                        index++;
                                    }
                                }
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="card-body" style="border:none;width:400px;position:absolute;bottom:0px">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Breed</p>
                            @if (item.Status == true)
                            {
                                <p class="card-text" style="font-weight:bold;color:green">Available</p>
                            }
                            else
                            {
                                <p class="card-text" style="font-weight:bold;color:red"> Unavailable</p>
                            }
                            <p class="card-text">@item.Gender</p>
                        </div>




                    </div>
                    <p class="card-text" style="text-align:right"><a asp-controller="Home" asp-action="Details" asp-route-id=@item.Id>Details</a></p>
                </div>
            }


        </div>
    </div>
</div>
